{% extends "VideoConferenceLogInBundle::layout.html.twig" %} {% block
content %}
<div>
	{% if is_granted('ROLE_USER') %} <img src={{ asset('apple-touch-icon.png') }}
		style="margin-left: 60px"> {% else %} <span
		style="color: white; margin-left: 60px">You must log in to see this
		content</span> {% endif %}
		<ul>
		{% for user in users %}
		<li>{{ loop.index }}. {{ user.firstName }} {{ user.lastName }}</li>
		{% endfor %}
		</ul>
</div>

{% endblock %}
