<html>
<title>Video Conference LogIn</title> {#Hello, ez az uj bundle, juppiii
{{ name }}!#} {# {% block title "Video Conference LogIn Page" %} #}
<head></head>

<body>
	{% block content %}
	<h1 class="title">LogIn</h1>
	{% endblock %}
</body>
</html>