{% extends "VideoConferenceLogInBundle::layout.html.twig" %} 
{% block content %}

<div>
	{% if is_granted('ROLE_USER') %} 
		<ul>
		{% for room in rooms %}
		<li>{{ room.name }} {{ room.description }}
		 <button type="button" onclick="">{% trans %}Modify{% endtrans %}</button>
		 <button type="button">{% trans %}Delete{% endtrans %}</button><br><br></li>
		{% endfor %}
		</ul>
		{% endif %}
</div>



{% endblock %}
