{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %} {% block
title %} {% trans %}Video Stream{% endtrans %} {% endblock %} {% block
head %}
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">7
var flashvars = {notifyJS:"true",rtmpUrl:'rtmp://localhost/VideoConferenceStreaming/{{ room.getId() }}',
		userId:{{ user.getId() }},roomToken:'{{ room.getToken() }}'};
var params = {};
var attributes = {};

function flashReady() {	
	   document.getElementById("stream").publishWebcam();
}
	  
function videoConferenceEvent(message,param){
	if(message==="publishing"){
		console.log("jkaskdjlkasjdkl");
	//document.getElementById("stream").playStream();
}
}

swfobject.embedSWF("/web/VideoConferenceFlash.swf", "stream", "100%", "500", "9.0.0",false, flashvars, params, attributes);

</script>
{% endblock %} {% block content %}
<div id="stream" style="margin: 0 auto;"></div>




{% endblock %}
