{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %}
{% block title %}
    {% trans %}Video Stream{% endtrans %}
{% endblock %}
{% block
content %}
<div style="color: white;text-align: center;">
   <embed width="640" height="480" src="/web/VideoConferenceFlash.swf"
		FlashVars="userNameLabel={% trans %}User{% endtrans %}&userName={{ user.getUsername() }}&roomNameLabel={% trans %}Room{% endtrans %}&roomName={{ room.getName() }}">
</div>
{% endblock %}
